@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100dvh;
  background: url('../img/background.png') no-repeat center center fixed black;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 25px;
  padding: 10px;
  border-bottom: .1px solid rgba(0, 0, 0, 0.092);
  backdrop-filter: blur(5px);
  background-color: rgba(207, 229, 231, 0.126);
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
  border-bottom: 2px rgba(40, 40, 40, 0.25) solid;
}

.nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 25px;
}

.nav-list a {
  color: rgba(255, 255, 255, .8);
  font-weight: 400;
}

main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.content {
  padding: 15px;
  min-width: 300px;
  max-width: 75vw;
  overflow: auto;
  background-color: lightsteelblue;
  color: white;
  backdrop-filter: blur(4px);
  background-color: rgba(95, 95, 95, .4);
  border: 1.5px rgba(255, 255, 255, 0.4) solid;
  border-radius: 10px;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
    border-right: 2px rgba(40, 40, 40, 0.35) solid;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  -webkit-animation: 500ms scale-up-center .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: 500ms scale-up-center .4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

footer {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  color: rgba(255, 255, 255, 0.5)
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}